#about {

    width: 100%;
    height: auto;
    background: #f7f7f7;
    padding-top: 120px;

    .folio-core-image-container {
        padding-bottom: 30px;
        border: 20px solid #e2a89c;
    }

    .folio-core-about-image img {
        width: 100%;
        box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
        margin-top: -60px;
        margin-left: 40px;
        height: 400px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .folio-core-about-text {
        .folio-core-about-heading {
            font-family: "Playfair Display", serif;
            font-size: 28px;
            text-align: left;
        }

        .folio-core-about-description {
            max-width: 80%;
            margin-bottom: 0;
            text-align: left;
        }
    }
}